.main-container {
  background: #3f51b5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

mat-card {
  width: 300px;
  max-width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
