<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer [opened]="true" mode="side">
    <div class="drawer-container-nav">
      <!-- Menu content -->
      <mat-list>
        <ng-container *ngFor="let option of menuOptions" >
          <mat-list-item [routerLink]="['./', option.path]" >
            <mat-icon mat-list-icon>{{ option.icon }}</mat-icon>
            <h4 mat-line>{{ option.title }}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Admin</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="p-2">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
