/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-lg {
  width: 100%;
  height: 90%;
  mat-dialog-container {
    overflow: scroll !important;
  }
}
