<button mat-icon-button (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="poster">
    <th mat-header-cell *matHeaderCellDef> Imagen </th>
    <td mat-cell *matCellDef="let element">

      <button mat-icon-button (click)="openFileForm(element.id, 'poster', ['png'])">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>

      <a *ngIf="element.poster" [href]="element.poster" target="_blank">
        <img height="40"  *ngIf="element.poster" [src]="element.poster">
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="temary">
    <th mat-header-cell *matHeaderCellDef> Temario </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openFileForm(element.id, 'temary', ['pdf'])">
        <mat-icon>post_add</mat-icon>
      </button>
      <a *ngIf="element.temary" [href]="element.temary" target="_blank" mat-icon-button >
        <mat-icon>open_in_new</mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{ element.date | moment: 'DD/MM/YYYY' }} </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.start | moment: 'hh:mm a'}} </td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> Fin </th>
    <td mat-cell *matCellDef="let element"> {{element.end | moment: 'hh:mm a'}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Taller </th>
    <td mat-cell *matCellDef="let element"> {{element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="publish">
    <th mat-header-cell *matHeaderCellDef> Publicado </th>
    <td mat-cell *matCellDef="let element"> {{ element.publish ? 'Si' : 'No' }} </td>
  </ng-container>



  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(element.id)">
        <mat-icon>trash</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
