<form [formGroup]="form" (ngSubmit)="save()">
  <mat-form-field appearance="outline">
    <mat-label>Titulo</mat-label>
    <input matInput formControlName="title">
    <mat-error *ngIf="titleField.hasError('required')">
      Este campo es requerido
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nombres</mat-label>
    <input matInput formControlName="names">
    <mat-error *ngIf="namesField.hasError('required')">
      Este campo es requerido
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Apellidos</mat-label>
    <input matInput formControlName="lastNames">
    <mat-error *ngIf="lastNamesField.hasError('required')">
      Este campo es requerido
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input matInput formControlName="mail">
    <mat-error *ngIf="mailField.hasError('required')">
      Este campo es requerido
    </mat-error>
    <mat-error *ngIf="mailField.hasError('email')">
      Ingrese un email valido
    </mat-error>
  </mat-form-field>

  <button type="button" mat-button (click)="close()">
    Cancelar
  </button>
  <button
    [disabled]="form.invalid"
    type="submit" mat-button>Guardar</button>
</form>
