<form
  [formGroup]="authForm"
  (ngSubmit)="signUp()"
  class="main-container d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="names">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="lastNames">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="documentNumber">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint>ejemplo: user@dominio.com</mat-hint>
        <mat-error
          *ngIf="emailField.hasError('email')">
          Ingrese un email valido
        </mat-error>
        <mat-error
          *ngIf="emailField.hasError('required')">
          Este campo es requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password"
               [type]="showPassword ? 'text' : 'password'"
               matInput>
        <button (click)="showPassword = !showPassword" mat-icon-button matSuffix>
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="passwordField.hasError('required')">
          Este campo es requerido
        </mat-error>
        <mat-error
          *ngIf="passwordField.hasError('passwordStrong')">
          {{ passwordField.errors.passwordStrong }}
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        routerLink="../sign-in"
        type="button" mat-button>Ingresar</button>
      <button
        [disabled]="authForm.invalid"
        type="submit" mat-button>Registrarte</button>
    </mat-card-actions>
  </mat-card>
</form>
